.bannerHeadAlign {

    position: absolute;
    top: 16rem;
    left: 13rem;

}
.bannerHead {

    text-transform: uppercase;
    color: white;
    font-weight: 100;
    letter-spacing: 0.3rem;

}

.bannerHead span {

    color: #FFAC2C;
    font-weight: 700;
    line-height: 2;
}

.bannerHeadAlign p {

    color: white;
}

.bannerBtn {

    text-transform: uppercase;
    border-radius: 2rem;
    background-image: linear-gradient(to right, #F69032 , #FDCB19);
    border: none;
    color: #002146;
    height: 3rem;
    font-weight: 600;
    width: 13rem;
}

@media only screen and (min-width: 280px) and (max-width : 480px) and (orientation: portrait) {

    
    .bannerHeadAlign {

        
        top: 4rem;
        left: 1rem;
    
    }
    .bannerHead {
    
        font-size: 0.8rem !important;
        letter-spacing: 0.1rem;    
    }
    
    .bannerHead span {
    
        color: #FFAC2C;
        font-weight: 600;
        line-height: 2;
    }
    
    .bannerHeadAlign p {
    
        font-size: 0.38rem;
    }
    
    .bannerBtn {
    
        height: 2rem;
        font-weight: 600;
        width: 9rem;
        font-size: 0.8rem;
    }
       
    
}



/* list of members */


.memberHeight {

    height: 15rem;
    margin-top: -15rem;
}


.orangeBanner {

    background: #DDAE24;
    border-top-left-radius: 50px;
    height: 15rem;
}
.whiteBanner {

    position: absolute;
    top: 14%;
    left: 0;
    /* transform: translate(0%,0%); */
    height: 13rem;
    width: 90% !important;
}

.checkList {

    position: absolute;
    top: 50%;
    display: flex;

}

.checkList h6 {

    text-transform: uppercase;
    font-size: 1.6rem;
    color: #FFAC2C;
    font-weight: normal;
    padding: 0rem 15rem;
}

.checkList h5 {

    text-transform: uppercase;
    color: #FFAC2C;
    font-weight: 700;
    padding: 0rem 15rem;
}



@media only screen and (min-width: 280px) and (max-width : 480px) {
    .whiteBanner {
        
        width: 90% !important;
        height: 17.3rem;
        border-top-right-radius: 25px;
    }
  }


  
  @media only screen and (min-width: 280px) and (max-width : 480px) {
    .orangeBanner {

        height: 20rem;
        border-top-left-radius: 40px;
    }

    .memberHeight {
        
        height: 20rem;
        margin-top: -4rem;
    }

    .checkList {

        position: absolute;
        top: 20%;
        display: block;
    
    }
    
    .checkList h6 {
    
        text-transform: uppercase;
        font-size: 1rem;
        color: #FFAC2C;
        font-weight: normal;
        margin: 0rem 0rem 0rem 5rem;
        padding: 0;
    }
    
    .checkList h5 {
    
        text-transform: uppercase;
        color: #FFAC2C;
        font-weight: 700;
        margin: 0rem 0rem 0rem 5rem;
        padding: 0;
    }

    .checkList div {

         text-align: right;   
        line-height: 11;
    }
  }





