.liAlign {
  margin-right: 2rem !important;
}

.liAlign li {
  padding: 0rem 0.7rem;
  text-transform: capitalize;
  font-size: 0.7rem;
  font-weight: 600;
}

.loginNav {
  text-transform: uppercase;
  border-radius: 2rem;
  background-image: linear-gradient(to right, #f69032, #fdcb19);
  border: none;
  color: #002146;
  height: 3rem;
  font-weight: 700;
  width: 10rem;
  font-size: 0.7rem;
}

.loginNav:hover {
  text-transform: uppercase;
  border-radius: 2rem;
  background-image: linear-gradient(to right, #f69032, #fdcb19);
  border: none;
  color: white;
  height: 3rem;
  font-weight: 700;
  width: 10rem;
  font-size: 0.7rem;
}

.navReg {
  text-transform: uppercase;
  border-radius: 2rem;
  background-image: linear-gradient(to right, #f69032, #fdcb19);
  border: none;
  color: #002146;
  height: 3rem;
  font-weight: 700;
  width: 10rem;
  font-size: 0.7rem;
}
